services:
  postgres:
    image: postgres:18
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: files
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  upload:
    build:
      context: .
      dockerfile: cmd/upload/Dockerfile
    depends_on:
      - postgres
      - redis
